src/main/app/gets/get-billing-addresses-by-last-modified-date.xml
<?xml version="1.0" encoding="UTF-8"?>
 
<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="getBillingAddressesByLastModifiedDate" processingStrategy="synchronous">
        <vm:inbound-endpoint exchange-pattern="request-response" path="VM_GET_BILLING_ADDRESSES_BY_LAST_MODIFIED_DATE" connector-ref="VM_IN_MEMORY" doc:name="VM_GET_BILLING_ADDRESSES_BY_LAST_MODIFIED_DATE"/>

        <logger message="lastModifiedDate: #[payload]" level="INFO" category="VM_GET_BILLING_ADDRESSES_BY_LAST_MODIFIED_DATE" doc:name="[DEBUG]Log Initial Payload"/>


        <sfdc:query config-ref="Salesforce__Basic_Authentication" 
        query="SELECT Address_1__c,Address_2__c,Address_3__c,Billing_Address_ID__c,Billing_Company__c,City__c,Company_Name__c,Country__c,County__c,CreatedById,CreatedDate,Id,IsDeleted,LastModifiedById,LastModifiedDate,LastReferencedDate,LastViewedDate,Locality__c,Name,Operating_Unit_ID__c,Operating_Unit_Name__c,Oracle_ID__c,Physical_Address__c,Postal_Code__c,State_Province__c,SystemModstamp FROM Billing_Address__c WHERE LastModifiedDate &gt; #[payload]" doc:name="Salesforce"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload map ($ mapObject { ($$): $ } ) ]]></dw:set-payload>
        </dw:transform-message>

        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger level="ERROR" doc:name="Log Exception Summary" category="VM_GET_BILLING_ADDRESSES_BY_LAST_MODIFIED_DATE" message="Exception Summary: #[exception.getSummaryMessage()]"/>
            <set-payload doc:name="Set Payload" value="Unable to get billing addresses by Last Modified Date"/>
            <set-property doc:name="400" propertyName="http.status" value="#[400]"/>
        </catch-exception-strategy>
    </flow>
</mule>
