src/main/app/gets/get-datasiteone-project-history-by-last-max-id.xml
<?xml version="1.0" encoding="UTF-8"?>
 
<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <flow name="GetProjectHistoryById" processingStrategy="synchronous">
        <vm:inbound-endpoint exchange-pattern="request-response" path="VM_GET_PROJECT_HISTORY_BY_ID" connector-ref="VM_IN_MEMORY" doc:name="VM_GET_PROJECT_HISTORY_BY_ID"/>

        <logger message="***Start GetProjectHistoryById" level="INFO" category="GET_PROJECT_HISTORY_BY_ID" doc:name="Log Payload"/>


        <sfdc:query config-ref="Salesforce__Basic_Authentication" query="select      max(id)  id    , DataSiteOne_Project__c  from DataSiteOne_Project_History__c   where    id  &gt; '#[payload]'   group by   DataSiteOne_Project__c " doc:name="Salesforce"/>
        <json:object-to-json-transformer mimeType="application/json" doc:name="Object to JSON"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="#[exception.getSummaryMessage()]" level="ERROR" category="GET_PROJECT_HISTORY_BY_ID" doc:name="Log Exception"/>
            <set-payload value="Unable to retrieve Project History by Yesterday" doc:name="Set Payload"/>
            <set-property propertyName="http.status" value="#[400]" doc:name="400"/>
        </catch-exception-strategy>
    </flow>
</mule>
