src/main/app/gets/get-billing-companies-by-billing-company-ids.xml
<?xml version="1.0" encoding="UTF-8"?>
 
<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="getBillingCompaniesByBillingCompanyIds" processingStrategy="synchronous">
        <vm:inbound-endpoint exchange-pattern="request-response" path="VM_GET_BILLING_COMPANIES_BY_BILLING_COMPANY_IDS" connector-ref="VM_IN_MEMORY" doc:name="VM_GET_BILLING_COMPANIES_BY_BILLING_COMPANY_IDS"/>

        <json:json-to-object-transformer returnClass="java.lang.Object" doc:name="JSON to Object"/>
            <scripting:component doc:name="getIds">
                <scripting:script engine="Groovy" file="groovy/array2string.groovy"/>
            </scripting:component>

        <logger message="billingCompanyIds: #[payload]" level="INFO" category="VM_GET_BILLING_COMPANIES_BY_BILLING_COMPANY_IDS" doc:name="[DEBUG]Log Initial Payload"/>


        <sfdc:query config-ref="Salesforce__Basic_Authentication" 
        query="SELECT Account__c,Billing_Company_ID__c,Billing_Company_Name__c,Customer_Order_Number__c,CreatedById,CreatedDate,Id,IsDeleted,LastModifiedById,LastModifiedDate,LastReferencedDate,LastViewedDate,Name,Oracle_Account_Number__c,Oracle_ID__c,OwnerId,SystemModstamp,VAT__c FROM Billing_Company__c WHERE Billing_Company_ID__c in #[payload]" doc:name="Salesforce"/>
        <json:object-to-json-transformer mimeType="application/json" doc:name="Object to JSON"/>

        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger level="ERROR" doc:name="Log Exception Summary" category="VM_GET_BILLING_COMPANIES_BY_BILLING_COMPANY_IDS" message="Exception Summary: #[exception.getSummaryMessage()]"/>
            <set-payload doc:name="Set Payload" value="Unable to get Billing Companies by Billing Company Ids"/>
            <set-property doc:name="400" propertyName="http.status" value="#[400]"/>
        </catch-exception-strategy>
    </flow>
</mule>
