src/main/app/upserts/update-billing-address.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="updateBillingAddressFlow">
        <logger message="Starting updateaddressFlow. Payload: #[payload]" level="DEBUG" doc:name="[DEBUG]Log Payload" category="com.merrillcorp.q2c"/>

                    <sfdc:upsert config-ref="Salesforce__Basic_Authentication" externalIdFieldName="Oracle_ID__c" type="Billing_Address__c" doc:name="Salesforce">
                        <sfdc:objects ref="#[payload]"/>
                    </sfdc:upsert>
        <logger message="End of updateaddressFlow" level="DEBUG" doc:name="[DEBUG]Log Payload" category="com.merrillcorp.com"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="#[exception.getSummarymessage()]" level="ERROR" category="updateaddress" doc:name="Log Exception Summary"/>
        </catch-exception-strategy>
    </flow>
    <flow name="buildNullFields">
  <set-variable variableName="fields" value="#[new ArrayList()]" doc:name="fields"/>
  <logger message="before build list pay=#[payload]" level="INFO" doc:name="Copy_of_Logger"/>
  <set-payload value="#[payload.entrySet()]" doc:name="Set Payload"/>
  <foreach doc:name="For Each">
    <choice doc:name="Choice">
      <when expression="#[payload.getValue() == null]">
        <set-variable variableName="tempAddStatus" value=" #[fields.add(payload.getKey())]" doc:name="fields"/>
      </when>
      <otherwise>
        <logger message="*** do nothing" level="DEBUG" doc:name="Logger"/>
      </otherwise>
    </choice>
  </foreach>
  <set-payload value="#[fields]"  doc:name="Set Payload"/>
  <logger message="fields=#[payload]" level="INFO" doc:name="Copy_of_Logger"/>
</flow>
</mule>
